doctype html
html(lang='es')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="icon", href="/img/logo_sesions.jpeg")
  link(rel='stylesheet',  href='/css/Acde.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  crossorigin="anonymous")
  title= title
body
block content
   nav
    div.ContentLogo
     img(src="/img/logo_sesions.jpeg", class="logo" , alt="Logo")
     div.textlogo
      h1.nameLogo Sesions 
      p.TextFrase Tus redes en un mismo lugar
    h1.Name Acerca De
    div.ContBack
     span(class="fa-solid fa-circle-left")  
   h2.bienvenido  Bienvenido a Sesions , una plataforma innovadora donde puedes utilizar tanto redes como chats por medio de autenticacion previa. Nuestra misión es ofrecerte una experiencia única al permitirte simular el uso de aplicaciones populares como Facebook, Instagram, WhatsApp, Slack y más, todo desde un solo lugar. Nos esforzamos por proporcionar un entorno seguro y amigable para que puedas explorar y disfrutar de estas funcionalidades ficticias en modo móvil.
   footer.pie 
    p.Contact Contacto :
    a.fab.fa-linkedin(href='https://www.linkedin.com/in/pablo-c%C3%A9sar-zabala-51055b1bb' target='_blank')
    a.fa-brands.fa-instagram(href='https://instagram.com/condebasura?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D' target='_blank')
    a.fa-brands.fa-github(href="https://github.com/Condebasura" target='_blank')
    br
    br
    p.der Pablo C. Zabala &copy; 2024 
script(type="module",src="../js/AcercaDe.js") 