extends layout 
block content 
 form.formCreate(action="/create" , method="post" , enctype="multipart/form-data")
  h1.titleCreate Crear Cuenta 
  label(for="Nombre") Nombre 
  input( type="text" ,class="Name", id="Nombre", placeholder="Ingresa tu nombre" , required)
  label(for="Apellido") Apellido 
  input(type="text", id="Apellido", class="Ap" , placeholder="Ingresa tu apellido" , required)
  label(for="C-email") Email 
  input(type="email" , class="C-mail", id="C-email", placeholder="Ingresa un email" required)
  label(for="pass") Contraseña 
  input(type="password", id="pass", class="Pasword" , placeholder="crear contraseña", required)
  label(for="Re-pass") Repetir Contraseña
  input(type="password", id="Re-pass", class="Re-Contraseña", placeholder="Repetir contraseña", required)
  label(for="img") Avatar
  input(type="file", id="img", class="archivo" , name="imagen", data.archivo , required) 
  button(type="submit", class="Regis_fin") Registrarse 
 dialog(id="modal")
 script( type="module" src="../js/create.js")  