doctype html
html(lang='es')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="icon", href="/img/logo_sesions.jpeg")
  link(rel='stylesheet',  href='/css/login.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  crossorigin="anonymous")
  title= title
body
block content
 div.caja_1
  div.ContentLogoAndBars
   nav
    div.ContentLogo
     img(src="/img/Logo_sesions.jpeg", class="logo" , alt="Logo")
     div.textlogo
      h1.nameLogo Sesions 
      p.TextFrase Tus redes en un mismo lugar
    div.ContentTerm 
      a(href="#", class="QSomos") Quienes Somos 
      a(href="#", class="Term") Terminos y Condiciones 
  form(class="form" action="/usuario" method="post")
   br
   h2.login_name Iniciar Sesion
   div.inputs
    label(for="email") Email 
    input(id="email" , class="e-mail" , type="email" , name="email")
    label(for="pass") Password 
    input(type="password", name="password", class="contraseña" , id="pass")
   h3.parrafo= mensaje
   button.login(type="submit") Entrar
   br
   div.Reg
    p.no_cuenta No tienes una cuenta?
    p.registro Registrate 
   dialog#modal
  footer.pie 
   p.Contact Contacto :
    a.fab.fa-linkedin(href='https://www.linkedin.com/in/pablo-c%C3%A9sar-zabala-51055b1bb' target='_blank')
    a.fa-brands.fa-instagram(href='https://instagram.com/condebasura?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D' target='_blank')
    a.fa-brands.fa-github(href="https://github.com/Condebasura" target='_blank')
    br
    br
   p.der Pablo C. Zabala &copy; 2024 
 div.caja_2
  div.ConteinerTitulo 
   h1.titulo Conectate a tus redes  y chats sin perdidas de tiempo.
  div.ContSubTitulo
   h4.SubTitulo Mantén el foco en tu trabajo mientras socializas !!
  img(src="/img/pageinbrowser.jpg", alt="").PageInBrowser   
script(type="module", src='../js/login.js') 