extends layout
block content
 nav.brra_nav
  h2.login_name Iniciar Sesion
 form(class="form" action="/usuario" method="POST")
  br
  label(for="email") Email
  input(id="email" , class="e-mail" ,type='email', name="email")
  label(for='pass') Password
  input(type="password", name="password" , class="contraseña" , id="pass")
  h3.parrafo= mensaje
  button.login(type='submit') Iniciar
  br
  h4.no_cuenta No tienes una cuenta?
  button.registro(type='button') Registrarse
 script(type="module", src='../js/login.js')


