doctype html
html(lang='es')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="icon", href="/img/logo_sesions.jpeg")
  link(rel='stylesheet',  href='/css/login.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  crossorigin="anonymous")
  title= title
body
block content
 div.caja_1
  div.ContentLogoAndBars
   div.ContentLogo
    div(class="logo")
    div.textlogo
     h1.nameLogo Sesions 
     p.TextFrase Tus redes en un mismo lugar
   div.ContentBars
    ul.fa-solid.fa-bars     
 div.caja_2 