doctype html
html(lang='es')
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="icon", href="/img/logo_sesions.jpeg")
  link(rel='stylesheet',  href='/css/TermCond.css')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"  crossorigin="anonymous")
  title= title
body
block content
   nav
    div.ContentLogo
     img(src="/img/logo_sesions.jpeg", class="logo" , alt="Logo")
     div.textlogo
      h1.nameLogo Sesions 
      p.TextFrase Tus redes en un mismo lugar
    h1.Name Términos y Condiciones
    div.ContBack
     span(class="fa-solid fa-circle-left")      
div.Term 
 h2 Aceptación de los Términos
  h3 Al acceder y utilizar Sesions, aceptas cumplir con estos Términos y Condiciones. Si no estás de acuerdo con alguna parte de los términos, no deberías usar nuestro sitio web.

 h2 Registro de Usuario
  h3 Para utilizar ciertas funciones de nuestro sitio, debes registrarte y crear una cuenta. Eres responsable de mantener la confidencialidad de tu información de inicio de sesión y de todas las actividades que ocurran bajo tu cuenta.

 h2 Uso del Sitio
  h3 Nuestro sitio permite a los usuarios simular el uso de aplicaciones populares en modo móvil. Este servicio es ficticio y no está afiliado ni conectado de ninguna manera con las aplicaciones reales.

 h2  Privacidad
  h3 Nos comprometemos a proteger tu privacidad. Consulta nuestra Política de Privacidad para obtener más información sobre cómo manejamos tus datos personales.

 h2 Propiedad Intelectual
  h3 Todo el contenido, diseño y código en Sesions son propiedad de Pablo C. Zabala y están protegidos por las leyes de propiedad intelectual.

 h2 Limitación de Responsabilidad
  h3 Sesions no será responsable de ningún daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de usar nuestro sitio.

 h2 Modificaciones de los Términos
  h3 Nos reservamos el derecho de modificar estos Términos y Condiciones en cualquier momento. Las modificaciones serán efectivas inmediatamente después de su publicación en el sitio.

 h2 Contacto
  h3 Si tienes alguna pregunta sobre estos Términos y Condiciones, por favor contáctanos!
footer.pie 
    p.Contact Contacto :
    a.fab.fa-linkedin(href='https://www.linkedin.com/in/pablo-c%C3%A9sar-zabala-51055b1bb' target='_blank')
    a.fa-brands.fa-instagram(href='https://instagram.com/condebasura?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D' target='_blank')
    a.fa-brands.fa-github(href="https://github.com/Condebasura" target='_blank')
    br
    br
    p.der Pablo C. Zabala &copy; 2024 
script(type="module",src="../js/TermCond.js") 