extends layout 
block content 
 nav.conteiner
    button(type="button" , class="logout") Cerrar Sesion 
    div.user
     img(src="", class="img_default")
     spam(class="user_name")
 dialog#modal     
 script(type="module", src="/js/usuario.js") 
