extends layowt 
block content 
 nav.conteiner
     div.logo
     div.cont_User
      img(src="", class="img_default")
 ul.ul_off  
  a(type="text" , class="logout") Cerrar Sesion 
  spam(class="user_name")
 dialog#modal     
 script(type="module", src="/js/usuario.js") 
