extends layowt 
block content
  nav.conteiner
     div.ContentLogo
      div(class="logo")
      div.textlogo
       h1.nameLogo Sesions
       spam(class="TextFrase", name="nombre")
     button(type="button", class="add_box") Agregar Box
     template.caja_temp
     div.cont_User
      img(src="", class="img_default")
  ul.ul_off  
   a(type="text" , class="logout") Cerrar Sesion 
   spam(class="user_name")
  dialog#modal
  spam.Camb_Dataoff
  div.cont_redesChats
  script(type="module", src="/js/usuario.js")
  script(type="module", src="/js/RedesChats.js")
