extends layout 
block content 
 nav.conteiner
    div.bars |||
    div.buscador
     label(for="buscar") buscar
     input(type="search", class="search", id="buscar")
    div.user
     img(src="", class="img_default")
     spam(class="user_name")= nombre
 script(type="module", src="/js/usuario.js") 
