.brra_nav_create{
    background-color: #dcdedf8a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em;
    box-shadow: 4px 10px 16px #2424252f;
}

.formCreate{
    background-color: rgb(255, 255, 255);
    border-radius: .5rem;
    display: flex;
   flex-direction: column;
   justify-content: center;
    gap: 1.5rem;
    margin-top: 3em;
     max-width: 80%;
     width: 300px;
   align-items:center;
   padding: 2em 1em;
    box-shadow:  inset  18px 18px 28px 0 hsla(41, 83%, 60%, 0.562) , inset -18px -18px 28px 0 hsla(41, 83%, 60%, 0.562), 25px 25px 16px #41414228;
}
.logo{
    background: url("/img/logo_sesions.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
    width: 7vmin;
      color: rgb(22, 21, 21);
      font-size: 16em;
      font-style: italic;
      padding-top: 7vmin ;
  border-radius: 50%;
   
  
  }
  
.create_name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 23px;
    color: #363636;

}

.Name , .Ap , .C-mail , .Pasword , .Re-Contraseña{
   	height: 30px;
    max-width: 100%;
   border: 1px solid  rgb(180, 187, 178);
   background-color: transparent;
   box-shadow: inset -1px -1.7px 6px #36363665 ;
    
}

.Name:focus , .Ap:focus , .C-mail:focus , .Pasword:focus , .Re-Contraseña:focus{
    border: 1px solid rgb(4, 189, 4);
    outline: none;
}

.Regis_fin{
    margin: 0 1em;
    padding: 10px;
    width: 80%;
    background-color: rgb(95, 196, 69);
    color: rgb(248, 248, 245);
    font-size: 18px;
    border-style: none;
    box-shadow: 2px 2px 8px #444444ef;
    cursor: pointer;
}


.Regis_fin:active{
box-shadow: none;
}

#modal{
    border-style: none;
    box-shadow: 25px 25px 16px #41414228;
    border-radius: 4px;

}
.msgError{
    font-size: 19px;
    color: red;
}

.msgExito{
    font-size: 19px;
    color:rgb(17, 161, 17);
    

}

.Tienes_cuenta{
    color: red;
    font-size: 15px;
}

.Sesion{
    margin: 0 1em;
    padding: 7px;
    width: 7em;
    color: rgb(16, 31, 236);
    font-size: 17px cursive;
    border-style: none;
    cursor: pointer;
}

