
.container-fluid{
  padding-left: 0% !important;
  padding-right: 0% !important;
 
}


.navbar-brand{
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-left: 10px;
  text-align: center;
align-items: center;

}

.logo{
  border-radius: 1em;
}

.nameLogo{
  font-family: "Inter Regular" ;
  font-size: 24px;
  
}
a{
  text-decoration: none !important;
  cursor: pointer;
 
}


p , a{
  font-size: 12px;
}


.login_name{
  font-family: "Inter Extra-Bold";
  font-size: 30px;
  text-align: center;
}

#modal{
width: 50%;
overflow: hidden;
border: none;
overflow-wrap: break-word;

}
.btn-close{
  float: right;
  color: white !important;
  
}
.SendEmail{
  text-align: center;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.btn-close:hover{
  background-color: red !important;
}
.registro{
  color: green !important;
 }

.pie{
  background-color: rgba(196, 197, 193, 0.404);
}
.caja_2{
  height: auto;
  background-image: url("/img/img_Login.jpeg")  ;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.cortina{
  position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
  margin-left: 10rem !important;
  background-color: rgba(0, 0, 200, 0.5);
  
}
.titulo{
  font-family: "Inter Light italic" ;
  font-size: 40px;
}
.subtitulo{
  font-family: "Inter Medium";
  text-align: end;
}

.QSomos , .Term{
  font-family: "Inter Regular";
  font-size: 12px !important;
  cursor: pointer;
}

.parrafo{
  text-align: center;
  font-size: 13px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 

  .login_name , .no_cuenta {
  color: aliceblue !important;
}
.navbar-toggler{
  margin-right: 1em;
}
.registro{
  color: aliceblue !important;
}

 }
 @media (min-width: 768px) {
  
}
/* Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 
  .navbar-toggler{
    margin-right: 1em;
  }
  .caja_1{
    height: 100vh;
    background-image: url("/img/img_Login.jpeg")  ;
    background-repeat: no-repeat;
    background-size: cover;
    ;
   }
   .navbar{
    background-color:  rgba(196, 197, 193, 0.664);
   }
   .form{
    
      margin: 50% 3em !important ;
    
   
  background-color: rgba(0, 0, 200, 0.5);
  
    
   }
   .noPassword{
    text-shadow: 1px 1px 1px #000;
   }

   .pie{
    background-color:rgba(196, 197, 193, 0.884) ;
   }
   .login_name , .no_cuenta, .registro {
    color: aliceblue !important;
  }
  .link-success{
    color: aliceblue !important;
  }
  
 }

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 

 
 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (max-width: 1400px) { 

 }