
.brra_nav{
  background-color: #dcdedf8a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  box-shadow: 4px 10px 16px #2424252f;
}

.form{
  background-color: rgb(255, 255, 255);
  border-radius: .5rem;
  display: flex;
 flex-direction: column;
 justify-content: center;
  gap: .7rem;
  margin-top: 3em;
   max-width: 80%;
   width: 300px;
 align-items:center;
 padding: 2em 1em;
  box-shadow:  inset  18px 18px 28px 0 hsla(41, 83%, 60%, 0.562) , inset -18px -18px 28px 0 hsla(41, 83%, 60%, 0.562), 25px 25px 16px #41414228


 }

.login_name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  color: #363636;
}

label{
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
	.e-mail , .contraseña{
		height: 30px;
    max-width: 100%;
   border: 1px solid  rgb(180, 187, 178);
   background-color: transparent;
   box-shadow: inset -1px -1.7px 6px #36363665 ;
    
	}

.e-mail:focus , .contraseña:focus{
  border: 1px solid rgba(0, 128, 0, 0.781);
  outline: none;
}

  .login{
    margin: 0 1em  ;
    padding:  10px ;
    width: 6em;
    background-color: rgba(63, 155, 10, 0.822);
    color: aliceblue;
    font-size: 18px;
    border-style: none;
    box-shadow: 2px 2px 8px #444444e0;
    cursor: pointer;
  }
.login:active{
  box-shadow: none;
}
  .no_cuenta{
    color: red;
    font-size: 12px;
    
  }

  .registro{
    margin: 1em;
    padding: 10px;
    background-color: rgba(50, 60, 172, 0.89);
    color: aliceblue;
    font-size: 18px;
    border-style: none;
    box-shadow: 2px 2px 8px #444444e0;
    cursor: pointer;
  }

  .registro:active{
    box-shadow: none;
  }

  .parrafo{
    font-size: 15px;
    color: rgb(228, 18, 18);
    padding: 2px;
  }

  