*{
    margin:  auto;
}
.conteiner{
display: flex;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
box-shadow: 0px 2px 4px #454545;
height: 5em;

}



.cont_User{
    display: flex;
    flex-direction: column;
    
}

.user_name{
    cursor: pointer;
}


.img_default{
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 3em;
    box-shadow: 1px 1px 5px #454;
    border-radius: 2em;

}

.logout{
    cursor: pointer;
}


.ul_off{
    display: none;
}

.ul_on{
    margin: 1em;
    position: absolute;right: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.Camb_Dataoff{
    display: none;
}

.Camb_Dataon{
    display: flex;
    font-size: 21px;
    background-color: red;
    color: beige;
    text-align: center;
    justify-content: center;
    opacity: 60%;
}

.input_Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.archivo{
    opacity: 0%;
}

.inputPass{
    display: none;
}


/* Caja de Redes */

.cont_redesChats{
    margin-top: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    max-width: 95%;
    height: 100%;
}

.box_RedChat{display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50dvh;
    height: 70dvh;
    text-shadow: 2px 2px 2px  rgb(136, 134, 134);
    border: 0.2px dashed #9c9c9ccb;
    box-shadow: 2px 2px 12px #a3a3a3;
    
}



.contSelect{
    display: none;
    flex-direction: column;
    gap: 2em;
}

.selecRed{
    cursor:pointer;
}

