*{
    margin:  auto;
}

body{
    min-height: 100vh;
    margin: 0%;
}
.conteiner{
display: flex;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
height: 5em;
background-color: rgba(121, 174, 253, 0.26);
gap: 10vh;

}

.ContentLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .logo{
    width: 5vh;
    height: 5vh;
      color: rgb(22, 21, 21);
      font-style: italic;
    border-radius: 3em;
    position: relative;
  }
  .nameLogo{
    margin: 0px 26px 0px 0px;
    font-size: 3.4vh;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic ;
    font-weight: 520;
  }
   
  
  .TextFrase{
    margin: 0 0 4em 0.4em ;
    font-size: 2vh;
    font-style: italic ;
    font-family: 'Times New Roman', Times, serif;
  
  }

.cont_User{
    display: flex;
    flex-direction: column;
    
}

.user_name{
    cursor: pointer;
}


.img_default{
    display: flex;
    flex-direction: column;
    width: 3em;
    height: 3em;
    box-shadow: 1px 1px 5px #454;
    border-radius: 2em;

}

.img_default:active{
    box-shadow: none;
}

.logout{
    cursor: pointer;
}


.ul_off{
    display: none;
}

.ul_on{
    margin: 1em;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    
}
.contDesp{
    list-style-type: none;
    text-align: center;
    padding: 3px;
    border: 3px dashed #a3a3a3;
    margin: 1px;
   
}

.contDesp:hover{
    background-color: rgb(130, 238, 130);
color: white;
border-color: rgba(249, 247, 247, 0.615);
box-shadow: 1px 2px 2px rgba(68, 85, 68, 0.614);
text-shadow: 1px 1px 2px rgb(9, 9, 9);
}

.contDesp:active{
    box-shadow: none;
    outline: none;
}

.add_box{
    width: 13vh;
    height: 4.5vh;
    border:  dashed;
    border-color: #808080b8;
    border-radius: 5px;
}

.add_box:hover{
    background-color: rgb(130, 238, 130);
color: white;
border-color: rgba(249, 247, 247, 0.615);
box-shadow: 1px 2px 2px rgba(68, 85, 68, 0.614);
text-shadow: 1px 1px 2px rgb(9, 9, 9);
}

.add_box:active{
    box-shadow: none;
    outline: none;
}


.Camb_Dataoff{
    display: none;
}

.Camb_Dataon{
    display: flex;
    font-size: 21px;
    background-color: red;
    color: beige;
    text-align: center;
    justify-content: center;
    opacity: 60%;
}

.input_Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.archivo{
    opacity: 0%;
}

.inputPass{
    display: none;
}


/* Caja de Redes */

.cont_redesChats{
    margin-top: 8em;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: stretch;
   gap: 3em;
    max-width: 95%;
    height: 100%;
    
}



.box_RedChat{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 50dvh;
    height: 70dvh;
    text-shadow: 2px 2px 2px  rgb(136, 134, 134);
    border-radius: 1.5em 0 1.5em 0;
    
}



.contSelect{
    display: none;
    flex-direction: column;
    gap: 2em;
}

.selecRed{
    cursor:pointer;
}

.fa-circle-xmark{
    position: absolute;
    top: 2px;
    right: 3px;
    cursor:pointer;
    font-size: 1.1em;
    color: rgb(15, 15, 15);
    padding: 2px;
 
    
}

.fa-circle-xmark:hover{
   color: rgb(255, 0, 0);
   
}
.pie{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: rgba(208, 206, 206, 0.893);
    position: fixed;bottom: 1px;
margin-top: 2em;
    width: 100%;
    height: 3em;
  }


.Contact{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
    
  }
  
  .fa-linkedin:visited , .fa-instagram:visited , .fa-github:visited{
    color: #000;
  }
  
    
    .der{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}