*{
    margin:  auto;
}
.conteiner{
display: flex;
flex-direction: row;
justify-content: space-evenly;
text-align: center;
box-shadow: 0px 2px 4px #454545;
height: 5em;

}



.cont_User{
    display: flex;
    flex-direction: column;
    
}

.user_name{
    cursor: pointer;
}


.img_default{
    display: flex;
    flex-direction: column;
    width: 3em;
    box-shadow: 1px 1px 5px #454;
    border-radius: 2em;

}

.logout{
    cursor: pointer;
}


.ul_off{
    display: none;
}

.ul_on{
    margin: 1em;
    position: absolute;right: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.Camb_Dataoff{
    display: none;
}

.Camb_Dataon{
    display: flex;
    font-size: 21px;
    background-color: red;
    color: beige;
    text-align: center;
    justify-content: center;
    opacity: 60%;
}

