.caja{ display: flex; flex-direction: column; max-width: 30%; align-items:
 center; text-align: center; align-self: center; margin:  0 auto; padding:
 2rem 0; box-shadow: 2px 2px 12px #4444;


































}